<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /project/Sales-Solutions-master/public/

    RewriteRule ^$ public/index.php [L]

    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

</IfModule>